<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Automation" version="1.2.1.79" targetFramework="net45" />
  <package id="Common.Logging" version="3.4.0-Beta2" targetFramework="net451" />
  <package id="Common.Logging.Core" version="3.4.0-Beta2" targetFramework="net451" />
  <package id="Consul" version="0.7.0.3" targetFramework="net451" />
  <package id="Faker.Net.Portable" version="2.5.0" targetFramework="net451" />
  <package id="Frontline-ServiceDiscovery.Consul" version="0.4.1.11" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.CSharp" version="4.3.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="9.0.2-beta1" targetFramework="net451" />
  <package id="PostSharp" version="5.0.11-preview" targetFramework="net451" />
  <package id="PostSharp.Patterns.Common" version="5.0.11-preview" targetFramework="net451" />
  <package id="PostSharp.Patterns.Common.Redist" version="5.0.11-preview" targetFramework="net451" />
  <package id="PostSharp.Patterns.Model" version="5.0.11-preview" targetFramework="net451" />
  <package id="PostSharp.Patterns.Model.Redist" version="5.0.11-preview" targetFramework="net451" />
  <package id="PostSharp.Redist" version="5.0.11-preview" targetFramework="net451" />
  <package id="RestSharp" version="105.2.3" targetFramework="net45" requireReinstallation="True" />
  <package id="Selenium.Support" version="3.0.1" targetFramework="net451" />
  <package id="Selenium.WebDriver" version="3.0.1" targetFramework="net451" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.25.0.8" targetFramework="net451" />
  <package id="Selenium.WebDriver.Extensions" version="3.0.1" targetFramework="net451" />
  <package id="SimpleInjector" version="4.0.0-alpha1" targetFramework="net451" />
</packages>